.tab-content {
	padding: 10px 0;
}

.box {
	margin-top: 10px;
	padding: 10px;
}

.logo {
	background-color: #222D32
}

.logo img {
	width: 60px;
}

.logo-bottom {
	text-align: center;
}

.logo-bottom img {
	width: 100px;
}